name: Node Agent Component Tests
on:
  pull_request:
    types: [synchronize, ready_for_review, opened, reopened]
  workflow_dispatch:
    inputs:
      build_image:
        description: 'Build and push a new container image for the test'
        type: boolean
        required: false
        default: false

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build-and-push-image:
    # Only run this job if it's a manual trigger with the box checked.
    if: github.event_name == 'workflow_dispatch' && github.event.inputs.build_image == true
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      id-token: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Install IG
        run: |
          sudo apt-get update
          sudo apt-get install -y jq curl
          IG_ARCH=amd64
          IG_VERSION=$(curl -s https://api.github.com/repos/inspektor-gadget/inspektor-gadget/releases/latest | jq -r .tag_name)
          echo "Installing IG version: ${IG_VERSION}"
          curl -sL https://github.com/inspektor-gadget/inspektor-gadget/releases/download/${IG_VERSION}/ig-linux-${IG_ARCH}-${IG_VERSION}.tar.gz | sudo tar -C /usr/local/bin -xzf - ig
          sudo chmod +x /usr/local/bin/ig
      - name: Build the Image and Push to Quay.io
        id: build-and-push-image
        run: |
          COMMIT_HASH=$(git rev-parse --short HEAD)
          export IMAGE_TAG=test-${COMMIT_HASH}
          export IMAGE_REPO=ghcr.io/${{ github.repository_owner }}/node-agent
          echo "image_repo=${IMAGE_REPO}" >> "$GITHUB_OUTPUT"
          export IMAGE_NAME=ghcr.io/${{ github.repository_owner }}/node-agent:${IMAGE_TAG}
          echo "image_tag=${IMAGE_TAG}" >> "$GITHUB_OUTPUT"
          make docker-build TAG=${IMAGE_TAG} IMAGE=${IMAGE_REPO} && make docker-push TAG=${IMAGE_TAG} IMAGE=${IMAGE_REPO}
    outputs:
      image_tag: ${{ steps.build-and-push-image.outputs.image_tag }}
      image_repo: ${{ steps.build-and-push-image.outputs.image_repo }}

  component-tests:
    runs-on: ubuntu-latest
    continue-on-error: true
    strategy:
      matrix:
        test: [
          Test_01_BasicAlertTest,
          Test_02_AllAlertsFromMaliciousApp,
          # Test_03_BasicLoadActivities,
          # Test_04_MemoryLeak,
          # Test_05_MemoryLeak_10K_Alerts,
          Test_06_KillProcessInTheMiddle,
          Test_07_RuleBindingApplyTest,
          Test_08_ApplicationProfilePatching,
          Test_10_MalwareDetectionTest,
          Test_11_EndpointTest,
          Test_12_MergingProfilesTest,
          Test_13_MergingNetworkNeighborhoodTest,
          Test_14_RulePoliciesTest,
          Test_15_CompletedApCannotBecomeReadyAgain,
          Test_16_ApNotStuckOnRestart,
          Test_17_ApCompletedToPartialUpdateTest,
          Test_18_ShortLivedJobTest,
          Test_19_AlertOnPartialProfileTest,
          Test_20_AlertOnPartialThenLearnProcessTest,
          Test_21_AlertOnPartialThenLearnNetworkTest,
          Test_22_AlertOnPartialNetworkProfileTest,
          Test_23_RuleCooldownTest,
          Test_24_ProcessTreeDepthTest
          Test_27_RegexFileOpenMatchTest
        ]
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Kind
        run: |
          curl -Lo ./kind https://kind.sigs.k8s.io/dl/v0.20.0/kind-$(uname)-amd64
          chmod +x ./kind
          ./kind create cluster
          curl -LO https://storage.googleapis.com/kubernetes-release/release/v1.21.0/bin/linux/amd64/kubectl
          chmod +x ./kubectl
          sudo mv ./kubectl /usr/local/bin/kubectl
      - name: Install Helm and Kubectl
        run: |
          curl -fsSL -o get_helm.sh https://raw.githubusercontent.com/helm/helm/main/scripts/get-helm-3
          chmod 700 get_helm.sh
          sudo ./get_helm.sh
      - name: Install Prometheus and Node Exporter
        run: |
          helm repo add prometheus-community https://prometheus-community.github.io/helm-charts
          helm repo update
          helm upgrade --install prometheus prometheus-community/kube-prometheus-stack --set grafana.enabled=false --namespace monitoring --create-namespace --set prometheus.prometheusSpec.podMonitorSelectorNilUsesHelmValues=false,prometheus.prometheusSpec.serviceMonitorSelectorNilUsesHelmValues=false --set prometheus.prometheusSpec.maximumStartupDurationSeconds=300 --wait --timeout 5m
          # Check that the prometheus pod is running
          kubectl wait --for=condition=Ready pod -l app.kubernetes.io/name=prometheus -n monitoring --timeout=300s
      - name: Install Node Agent Chart
        run: |
          STORAGE_TAG=$(./tests/scripts/storage-tag.sh)
          echo "Storage tag that will be used: ${STORAGE_TAG}"
          IMAGE_TAG="latest"
          IMAGE_REPO='ghcr.io/k8sstormcenter/node-agent'
          echo "Using Node Agent image: ${IMAGE_REPO}:${IMAGE_TAG}"
          # End of constanze modification
          helm upgrade --install kubescape ./tests/chart --set clusterName=`kubectl config current-context` --set nodeAgent.image.tag=${IMAGE_TAG} --set nodeAgent.image.repository=${IMAGE_REPO} --set storage.image.tag=${STORAGE_TAG} -n kubescape --create-namespace --wait --timeout 5m --debug
          # Check that the node-agent pod is running
          kubectl wait --for=condition=Ready pod -l app.kubernetes.io/name=node-agent -n kubescape --timeout=300s
          sleep 5
      - name: Run Port Forwarding
        run: |
          ./tests/scripts/port-forward.sh
      - name: Set up Go
        env:
          CGO_ENABLED: 0
        uses: actions/setup-go@v4
        with:
          go-version: "1.25"
      - name: Set unlimited memlock limit
        run: |
          sudo sh -c "ulimit -l unlimited"
      - name: Run test
        run: |
          cd tests && go test -v ./... -run ${{ matrix.test }} --timeout=20m --tags=component
      - name: Print node agent & storage logs
        if: always()
        run: |
          echo "Node agent logs"
          kubectl logs $(kubectl get pods -n kubescape -o name | grep node-agent) -n kubescape -c node-agent
          echo "-----------------------------------------"
          echo "Storage logs"
          kubectl logs $(kubectl get pods -n kubescape -o name | grep storage) -n kubescape
