name: Basic-Go-Testing

on:
  workflow_call:
    inputs:
      GO_VERSION:
        required: true
        type: string
      GO111MODULE:
        required: false
        type: string
      CGO_ENABLED:
        required: false
        type: number
        default: 1
      BUILD_PATH:
        required: false
        type: string
        default: "./..."
      UNIT_TESTS_PATH:
        required: false
        type: string
        default: "./..."
      FAILEDTHRESHOLD:
        required: false
        type: number
        default: 50
      # TEST_MULTI_ENVIRONMENTS:
      #   required: false
      #   type: boolean
      #   default: true

    secrets:
      SNYK_TOKEN:
        required: false
      GITGUARDIAN_API_KEY:
        required: false

jobs:
  Check-secret:
    name: check if secrets are set
    runs-on: ubuntu-latest
    outputs:
      run-gitgardian: ${{ steps.check-secret-set.outputs.is-gitgardian-set }}
      run-snyk: ${{ steps.check-secret-set.outputs.is-snyk-set }}
    steps:
      - name: Check whether unity activation requests should be done
        id: check-secret-set
        env:
          GITGUARDIAN_API_KEY: ${{ secrets.GITGUARDIAN_API_KEY }}
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        run: |
          echo "is-gitgardian-set=${{ env.GITGUARDIAN_API_KEY != '' }}" >> $GITHUB_OUTPUT
          echo "is-snyk-set=${{ env.SNYK_TOKEN != '' }}" >> $GITHUB_OUTPUT

  # Setup-Environment:
  #   runs-on: ubuntu-latest
  #   outputs:
  #     matrix: ${{ steps.set-matrix.outputs.matrix }}
  #   steps:
  #     - id: set-matrix
  #       env:
  #         TEST_MULTI_ENVIRONMENTS: ${{ inputs.TEST_MULTI_ENVIRONMENTS }}
  #       run: |
  #         if [ ${{ env.TEST_MULTI_ENVIRONMENTS }} ]; then
  #           echo "matrix=[\"ubuntu-20.04\", \"macos-latest\", \"windows-latest\"]" >> $GITHUB_OUTPUT
  #         else
  #           echo "matrix=[\"ubuntu-20.04\"]" >> $GITHUB_OUTPUT
  #         fi

  Environment-Test:
    name: Create cross-platform build
    # needs: [ Setup-Environment ]
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GH_PERSONAL_ACCESS_TOKEN }}
      CGO_ENABLED: ${{ inputs.CGO_ENABLED }}
    # strategy:
    #   matrix:
    #     os: ${{ fromJSON(needs.Setup-Environment.outputs.matrix) }}
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - uses: actions/setup-go@v5
        name: Setup Go
        with:
          go-version: '${{ inputs.GO_VERSION }}'

      - name: Ensure ig is installed
        run: curl https://github.com/inspektor-gadget/inspektor-gadget/releases/download/v0.48.1/ig_0.48.1_amd64.deb -LO && sudo dpkg -i ig_0.48.1_amd64.deb

      - name: Build gadgets
        run: make gadgets

      - name: Test race conditions
        if: ${{ env.CGO_ENABLED == 1 }}
        run: go test -exec sudo -v -race $(go list ${{ inputs.UNIT_TESTS_PATH }} | grep -v /e2e)

      - name: Test without race conditions
        if: ${{ env.CGO_ENABLED != 1 }}
        run: go test -exec sudo -v $(go list ${{ inputs.UNIT_TESTS_PATH }} | grep -v /e2e)

      - name: Initialize CodeQL
        continue-on-error: true
        uses: github/codeql-action/init@v2
        with:
          languages: go

      - name: Autobuild
        continue-on-error: true
        uses: github/codeql-action/autobuild@v2

      - name: Perform CodeQL Analysis
        continue-on-error: true
        uses: github/codeql-action/analyze@v2

      # - name: Test go build
      #   run: go build -v ${{ inputs.BUILD_PATH }}
