name: pull_request_created
on:
  pull_request:
    types: [opened, reopened, synchronize, ready_for_review]
    paths-ignore:
      - '*.md'
      - '*.yaml'
      - '.github/workflows/*'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  pr-created:
    permissions:
      pull-requests: write
      security-events: write
      contents: read
    uses: ./.github/workflows/incluster-comp-pr-created.yaml
    with:
      GO_VERSION: "1.25"
      CGO_ENABLED: 0
    secrets: inherit
